.categoryContainer {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;

}
.catCardsContainer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.categoryCards {
  margin: 10px;
}