html,
.App,
#root {
  width: 100%;
  height: 100%;
  background-color: #9471e9;
}

body {
  margin: 0;
  width: 100%;
  height: 100%;
}

@media (max-width: 400px) {
  html,
  .App,
  #root {
    width: 100%;
    height: auto;
  }
}
